[Unit]
Description=Change Wallpaper Service
After=network.target

[Service]
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$ (id -u farooq)/bus"
ExecStart=/usr/bin/python3 /etc/change-wallpaper.py
Restart=always
User=farooq

[Install]
WantedBy=multi-user.target

